<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Find Nearest Store </title>
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/action.js}"></script>
    <script th:inline="javascript">
        getLocation();
    </script>

</head>
<p>Welcome to <span th:text="${appName}" application>Application</span></p>
<table align="center">
    <tr>
        <td>Enter  Latitude (*) : </td>
        <td>
            <input id="latitude" type="text" name="lat">
        </td>
    </tr>
    <tr>
        <td>Enter Longitude (*) : </td>
        <td>
            <input id="longitude" type="text" name="lng">
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" th:onclick="getStores();" value="Submit"/>
        </td>
    </tr>
</table>

<div>
    <table id="storeTable">
        <thead>
        <tr>
            <th>UUID</th>
            <th>City</th>
            <th>Postal Code</th>
            <th>Street</th>
            <th>street2</th>
            <th>street3</th>
            <th>Address Name</th>
            <th>Longitude</th>
            <th>Latitude</th>
            <th>Complex Number</th>
            <th>Warning</th>
            <th>Today Open</th>
            <th>Location Type</th>
            <th>sapStoreID</th>
            <th>Today Close</th>
            <th>Distance (miles)</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div>
        <!--        <p>Welcome to <span th:text="${stores}">Our App</span></p>-->


        </body>
</html>